/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14/07/2026, 08:57:04
    Author     : informatica
*/
#estilo-boton-salir {
    -fx-opacity: 1;
}

#estilo-boton-salir:hover {
    -fx-opacity: 0.7;
    -fx-background-color: red;
    -fx-cursor: hand;
}

.estilo-titulo-ventana {
    -fx-lenght: 20;
    -fx-background-color: burlywood;
    -fx-font-size: 13px;
    -fx-background-radius: 5px;
}

.estilo-bordes-campos-incorrectos{
    -fx-border-color: red;
    -fx-border-width: 2px;

}

.estilo-bordes-campos-correctos{
    -fx-border-color: green;
    -fx-border-width: 2px;
}
